@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap');
/* font-family: 'Genos', sans-serif; */


/* NOWE */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'EB Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&display=swap');
/* font-family: 'Poppins', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');
/* font-family: 'Barlow Condensed', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}



.app {
    --appBgColor: #fff;
    --primaryColor: rgb(10, 10, 10);
    --secondaryColor: #d9992a;
    --secondaryColor2: #dc9416;
    --secondaryColor3: #af7512;
    --secondaryColorBg: #fff5e7;
    --deleteColor: #9e370f;
    --bikeVideoBg: #d7cfc1;
    --textFont: 'EB Garamond', serif;
    --titleFont: 'Poppins', sans-serif;
    --headerFont: 'Barlow Condensed', sans-serif;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--appBgColor);
    color: var(--primaryColor);
    font-family: var(--textFont);
    position: relative;
}


.mainPage {
    width: 100vw;
    min-height: 80vh;
    margin: 0 auto;
    padding: 10vh 5vw 0;
    position: relative;
}

@media screen and (max-width:800px) {
    .mainPage {
        width: 100vw;
        padding: 10vh 0vw 0;
    }
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-family: var(--headerFont);
    font-size: 2.7rem;
    font-weight: 600;
    color: var(--secondaryColor);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}


.buttonLink {
    text-decoration: none;
    background: var(--secondaryColor3);
    padding: 10px 20px;
    text-align: center;
    color: white;
    font-family: var(--headerFont);
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 3vh;
    transition: 0.4s;
    border: none;
    cursor: pointer;
}

.buttonLink:hover {
    letter-spacing: 5px;
}


.icon {
    color: var(--secondaryColor2);
    margin-right: 10px;
}

.cookieLink {
    margin-left: 10px;
    cursor: pointer;
    color: var(--activeNavLink);
}


/* .loading {
    margin: 30vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading img {
    margin-bottom: 5vh;
}

.loading h2 {
    font-family: var(--titleFont);
    font-weight: 600;
} */

.navHamburger {
    position: fixed;
    top: 0vh;
    right: 4vw;
    width: 50px;
    height: 50px;
    z-index: 999999;
    background: var(--navigationBgColor);
    display: none;
    font-size: 2.3rem;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
}

.navHamburger2 {
    position: fixed;
    bottom: 0vh;
    right: 4vw;
    width: 50px;
    height: 50px;
    z-index: 999999;
    background: var(--navigationBgColor);
    display: none;
    font-size: 2rem;
    border-radius: 10px 10px 0 0;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
}

@media screen and (max-width:800px) {

    .navHamburger,
    .navHamburger2 {
        display: flex;
    }
}


/* SCROOL BAR */

html::-webkit-scrollbar {
    width: 15px;
}

/* Track */
html::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
html::-webkit-scrollbar-thumb {
    background: #48331d;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
    background: #65481e;
}

/* COOKIE */

.cookieLink {
    margin-left: 10px;
    cursor: pointer;
    color: var(--secondaryColor);
}

.cookieInfo p button {
    background: none;
    border: none;
    font-size: 18px;
    margin-left: 10px;
    color: var(--secondaryColor);
    cursor: pointer;
    transition: 0.4s;
}

.cookieInfo p button:hover {
    color: var(--secondaryColor3);
}

.cookieInfo {
    display: flex;
    align-items: center;
}


.cookieIcon {
    margin-right: 3vw;
    font-size: 5rem;
}

@media screen and (max-width:800px) {
    .cookieInfo {
        flex-direction: column;
        text-align: center;

    }

    .cookieIcon {
        margin-right: 0vw;
        font-size: 4rem;
        margin-bottom: 4vh;
    }
}

.titleLine {
    background: var(--secondaryColor);
    height: 2px;
    width: 0;
    animation: growLine 3s ease 1 forwards;
}

@keyframes growLine {
    100% {
        width: 35vw;
    }
}